{erl_opts, [debug_info]}.
{deps, []}.

{relx, [{release, {example, "0.1.0"},
         [example,
          sasl]},
        {mode, minimal},
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},
        {extended_start_script, false}
]}.

{profiles, [{no_system_libs, [{relx, [{system_libs, false}]}]}]}.
